config.ini
__pycache__/
*.pyc
.pytest_cache/
build/
dist/
*.spec
packaging/installer/obj/
packaging/installer/harvest.wxs
*.wixobj
*.wixpdb
mobile/build/
mobile/.dart_tool/
mobile/.packages
mobile/pubspec.lock
pip-*
pytest-of-*
pytest-tmp/
mobile/pip-*
frontend/node_modules/
frontend/dist/
.venv/
tmp/pdfs/
